@import 'login.css';
@import 'navbar.css';
@import 'addPost.css';
@import 'defaultview.css';
@import 'privatemessages.css';
@import 'favoritebutton.css';
@import 'messageForm.css';

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Figtree', sans-serif;
    color: rgba(54, 54, 53, 0.90);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Figtree', sans-serif;
    color: rgb(54, 54, 53);
}

#postGif {
    transition: all .2s ease-in-out;
    transform-origin: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
    border: 2px dashed rgba(178, 34, 34, 0.9);
    color: white;
    border-radius: 10px;
    width: 35%;
    padding: 1rem;
}

#postGif:hover {
    cursor: pointer;
    transform: scale(1.02);
}


 